.invalid {
  border: solid 1px red;
}

.validated {
  border: solid 1px green;
}

.pictures-wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.picture {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border: solid 1px #ccc;
}

.picture a {
  display: block;
}

.popup {
  border: solid 1px #ccc;
  display: inline-block;
  padding: 50px;
  opacity: 0;
}
